body, h1, h2, h3, h4, h5, h6, p, ul, li, fieldset, form, label, legend, table, caption, tr, th, td { vertical-align:top; margin: 0; padding: 0; border: 0; outline: 0; }
body {
    font-size: 1.5dvh;
    line-height: 2dvh;
    max-width: 100dvw;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Bookman Old Style", sans-serif; ;
    background-color: black;
    color: #ebebeb;
    overflow: hidden;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
div{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
span{
    display: inline-block;
}
ul{
    list-style: none;
  padding: 0;
}
button {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1.25dvw;
  line-height: 1.5dvw;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  border-radius: 0.5dvw;
  background-color: black;
  color: white;
  user-select: none;
  white-space: nowrap;
  transition: transform 0.2s;
}                                           
button:active {
  transform: translate(4px, 4px);
    z-index:50;
}
button:not(:active){
  transition-duration: 0s; /* Instantly revert back */
}
                                                                            /*------Top-----*/
#top{
    background-color: black;
    height: 25dvh;
    position: relative;

}
    #topLeft{
        float: left;
        width: 25dvw;
        height: 20dvh;
    }
        #title{
            width: 25dvw;
            height: 15dvh;
        }
                                                                                       /*------Stats-----*/
    #statBox{
        float: left;
        width: 25dvw;
        height: 20dvh;
    }
        #name{
            font-size: 1.5dvw;
            line-height: 2dvh;
            margin: 1dvh;
        }
        .westStatBox{
            display: none;
            font-size: 1.5dvw;
            line-height: 3dvh;
            width: 8dvw;
            height: 7dvh;
            text-align: center;
            position: relative;
            float:left;
            border: 0.1dvw solid white;
        }
        .westNumbers{
                min-width: 8dvw;
                text-align: center;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                }   
        #visionBox{
            background-color: rgba(0, 0, 139, 0.5);
        }
        .visionText{
            font-size: 1.5dvw;
            line-height: 4dvh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #charmBox{
            background-color: rgba(220, 20, 60, 0.5);
        }
        .charmText{
            font-size: 1.5dvw;
            line-height: 4dvh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #healthBox{
            background-color: rgba(0, 128, 0, 0.5);
        }
        .healthText{
            font-size: 1.5dvw;
            line-height: 4dvh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #radianceBox{
            background-color:rgba(32, 178, 170, 0.5);
        }
        .radianceText{
            font-size: 1.5dvw;
            line-height: 4dvh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #madnessBox{
            display: block;
            position: absolute;
            left: 41dvw;
            top: 11dvh;
            font-size: 1.5dvw;
            line-height: 3dvh;
            width: 8dvw;
            height: 7dvh;
            background-color: rgba(75, 0, 130, 0.5);
            cursor: grab;
            z-index: 10;
        }
        #madnessBox.dragging {
            cursor: grabbing;
        }
        .madnessText{
            margin-top: 0.5dvh;
            font-size: 3dvh;
            line-height: 3dvh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #testBox{
            float: left;
            width: 5dvw;
            height: 20dvh;
            display: flex;
            flex-wrap: wrap;
        }
    #commentBox{
        margin-right: 1dvw;
        margin-top: 1dvh;
        float: right;
        width: 35dvw;
        height: 20dvh;
    }
        #commentaryTitle{
            float: right;
            text-align: right;
            line-height: 4dvh;
            width: 25dvw;
        }
        #commentary{
            cursor: pointer;
            float: right;
            text-align: right;
            overflow: hidden;
            font-size: 1.25dvw;
            line-height: 1.5dvw;
            min-height: 16dvh;
            height: 16dvh; 
            width: 30dvw;
            background-color: #121212;
        }
        #topNyar{
            float: right;
            width: 5dvw;
        }
    #tabRow{
        position: absolute;
        bottom: -0.4dvh;
        left: 0;
        min-width: 99dvw;
        display: flex;
        justify-content: space-evenly;
        padding-right: 1dvw;
        padding-left: 1dvw;
    }
        .tabs{
            display: none;
            padding-top: 0.25dvh;
            float: left;
            min-width: 15dvw;
            min-height: 4dvh;
            font-size: 1.5dvw;
            line-height: 1.5dvw;
            text-align: center;
            border: 0.2dvw solid white;
            border-radius: 5px 0 0 0;
            position: relative;
            font-weight: bold;
            z-index: 30;
        }
        #westTab{
            background-color: black;
        }
                                                                                       /*------BigBox-----*/

#mainWrapper{
    border: 0.1dvw solid transparent;
    border-image:  url(images/border6.png) 30% round;
    border-image-width: 30% 8%;
    padding-top: 3dvh;
    padding-left: 1.5dvw;
    padding-right: 1dvw;
    height: 75dvh;
}
.bigBox{
    display: none;
    width: 97dvw;
    height: 69dvh;
}
                                                                               /*------WestBox-----*/
#west{
    display: block;

}
                                                                               /*------ActionBox-----*/
    #actionBox{
        width: 68dvw;
        display: flex;
        justify-content: space-evenly;
        clear: left;
        float: left;
    }
    .actionColumn{
        margin: 1dvw;
        float: left;
        clear: left;
        min-width: 16dvw;
        width: 14dvw;
        height: 69dvh;
    }
    .actionLocks{
        display: none;
        margin: 1dvw;
        margin-top: 3dvh;
        float: left;
        clear: left;
        min-width: 14dvw;
        width: 14dvw;
        min-height: 5dvw;  
        bottom: 10px;
        font-size: 1.25dvw;
        white-space: initial;
        border: 0.1dvw solid white;
        border-radius: 5px;
        text-align: center;
        background-color: black;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1dvw;
    }
    .actionWraps{
        display: none;
        margin: 1dvw;
        float: left;
        clear: left;
        min-width: 14dvw;
        width: 14dvw;
        height: 14dvw;
        min-height: 14dvw;  
        text-align: center;
        background-color: black;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .studypulse{
        box-shadow: 0 0 0 0 #3A01DF inset;
        animation: pulse 0.5s ;
    }
    @keyframes pulse {
            0% {
                    box-shadow: 0 0 0 0 #8258FA inset;
            }

            70% {
                    box-shadow: 0 0 0 30px #210B61 inset;
            }

            100% {
                    box-shadow: 0 0 0 0 #210B61 inset;
            }
    }
    #tome{
        white-space: normal;
        font-size: 1.5dvw;
        min-width: 12dvw;
        position: absolute;
        top: 0.2dvw;
        left: 1dvw;
        z-index: 1;
    }
    .actionPng{
        position: absolute;
        top: 2dvw;
        left: 3dvw;
        width: 8dvw;
        height: 8dvw;
        display: block;
        margin: 0 auto;
    }
        .actionText{
        position: absolute;
        bottom: 10px;
        font-size: 1.5dvw;
        display: block;
        margin: 0 auto;
        min-width: 14dvw;
    }
    #book ~ .actionPng {
        top: 3dvw; 
    }
    #studyProgress{
        position: absolute;
        bottom: 0.2dvw;
        left: 0dvw;
        width: 0%;
        height: 0.5dvh;
        background-color: red;
    }
    #chantWrap{
    }
    #chant{
    }
    #chant:active{
            background-color: blue;
    }
    .chantPulse{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        animation: pulse 20s infinite;
    }
    #chantToggle {
        display: none;
        width: 2.5dvh;
        min-width: 2.5dvh;
        min-height: 2.5dvh;
        background-color: red; /* Default color for "off" */
        border-radius: 50%; /* Makes it round */
        float: right;
        position: relative;
        right: 1dvw; 
    }
                                                                                   /*------Dream-----*/
    #dreamWrap{
        z-index: 15;
        margin-bottom: 0;
    }
        .dreamPulse{
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            transform: scale(1);
            animation: pulse 3s infinite;
        }
        #dreamTimer {
                    display: none;
                    position: absolute;
                    top: 0dvh;
                    left: 2dvw;
                    line-height: 12dvw;
                    font-size: 17dvw;
                    color: #4B0082;
                    animation: dreamTimerpulse 2s infinite alternate;
                }
        @keyframes dreamTimerpulse {
            0% {
                display: block;
                z-index: 1;
                opacity: 1;
            }
            100% {
                z-index: 20;
                    color: #7F00FF;
                opacity: 0.80; /* Adjust opacity as needed */
            }
        }

        #dreamChosen{
            display: none;
            margin-left: 1dvw;
            font-size: 1.5dvw;
            line-height: 3dvw;
            float: left;
            clear: left;
            min-width: 11dvw;
            width: 11dvw;
            min-height: 3dvw;  
            border: 0.1dvw solid white;
            border-radius: 5px;
            text-align: center;
            background-color: black;
            cursor: pointer;
        }

        #dreamDropBtn {
            display: none;
            border: 0.1dvw solid white;
            border-radius: 5px;
            font-size: 3dvw;
            min-width: 3dvw;
            width: 3dvw;
            min-height: 3dvw;  
            cursor: pointer;
        }
        #dreamChoices{
            display: none;
        }
        .dreamChoice {   
            display:none;
            margin-left: 1dvw;
            font-size: 1.5dvw;
            line-height: 3dvw;
            float: left;
            clear: left;
            min-width: 11dvw;
            width: 11dvw;
            min-height: 3dvw;  
            border: 0.1dvw solid white;
            border-radius: 5px;
            text-align: center;
            background-color: black;
            cursor: pointer;
        }
        #dreamChoices a:hover {
            background-color: #ddd;
        }
    #preachWrap{

    }
        #preach{
        }
        #preachText{
            width: 12dvw;
        }
        #preachWrapCost{
            position: absolute;
            bottom: 10px;
            right: 2dvw;
            width: 2dvw;
        }
        #preach:active{
                background-color: blue;

        }
        .preachPulse{
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            animation: pulse 10s infinite;
        }
    .actionUpgradeWraps{
        display: none;
        font-size: 1.25dvw;
        margin: 1dvw;
        padding: 0.25dvw;
        float: left;
        clear: left;
        min-width: 14dvw;
        width: 14dvw;
        min-height: 4dvw;  
        border: 0.1dvw solid white;
        border-radius: 5px;
        text-align: center;
        background-color: black;
        position: relative;
        white-space: normal;
    }
                                                                                   /*------MadActionBox-----*/
    #madActionBox{
        display: none;
        float: right;
        width: 23dvw;
        height: 68dvh;
        overflow-y: auto;
        background-color: #380B61;
        border: 0.2dvw solid #8A0886;
        z-index: 10;
    }
    #madTitle{
        font-size: 3dvh;
        line-height: 5dvh
    }
    .madActionWraps{
        display: none;
        position: relative;
        float: left;
        padding-top: 0.5dvh;
        min-width: 8dvw;
        width: 8dvw;
        min-height: 8dvw;    
        border: 0.1dvw solid white;
        border-radius: 5px;
        margin: 1dvw;
        background-color: black;
        z-index: 15;
    }
    .madTitle{
        width: 8dvw;
        
        display: block;
    }
    .madActionPng{
        clear: left;
        width: 6dvw;
        height: 6dvw;
        display: block;
        margin: 0 auto;
    }
                                                                               /*------Cult-----*/
#cult{
    display: none;
}
                                                                               /*------Cultists-----*/
#left{
    float: left;
    clear: left;
    font-size: 3dvh;
    line-height: 3dvh;
    height: 69dvh;
    min-width: 24dvw;
    padding:1dvw;
}
#chosen{
    font-size: 5dvh;
    line-height: 6dvh;
}
#meeting{
    font-size: 2dvh;
    line-height: 2dvh;
}
#altarRoomTab{
      cursor: pointer;
      color: black;
      font-weight: bold;
    background-color: lightblue;
    margin: 2dvh;
    padding-left: 1dvw;
    padding-right: 1dvw;
    border-radius: 20px;
    border: 0.1dvw solid white;
}
    .cultWraps{
        display: none;
        clear: left;
        line-height: 6dvh;
        min-height: 6dvh;
        border-bottom: 0.25dvh solid white;
        position: relative;
    }

        .ids{
            display: block;
            font-weight: bold;
            width: 15dvw;
            float: left;
            text-align: right;
        }
    .number{
            text-align: right;
            min-width: 5dvw;
            float: right;
            font-weight: bold;
        }   
                                                                                       /*------Vault-----*/
    #center{
    padding-top: 1dvh;
    float: left;
    font-size: 3dvh;
    line-height: 5dvh;
    height:69dvh;
    min-width: 40dvw;
    width: 40dvw;
    }
    #vault{
        float: left;
        min-width: 40dvw;
        width: 40dvw;
        display: flex;
        flex-wrap: wrap;
    }
        .vaultWraps{
            display: none;
            margin: 0.5dvw;
            min-width: 12dvw;
            height:25dvh;
            text-align: center;
            font-size: 3dvh;
            line-height: 3dvh;
            position: relative;
            border: 0.1dvw solid white;
            background-color: black;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        .vaultText{
            position: absolute;
            top: 1dvh;
            left: 1dvw;
            width: 10dvw;
            height: 4dvh;
            display: block;
            margin: 0 auto;
        }
        .vaultPng{
            position: absolute;
            top: 5dvh;
            left: 2dvw;
            width: 8dvw;
            height: 8dvw;
            display: block;
            margin: 0 auto;
        }
        .vaultNum{
            position: absolute;
            bottom: 0.2dvh;
            left: 1dvw;
            width: 10dvw;
            height: 3dvh;
            display: block;
            margin: 0 auto;
        }
                                                                                       /*------Crafts-----*/
    #right{
    float: right;
    font-size: 2dvw;
    line-height: 2dvw;
    height:69dvh;
    min-width: 30dvw;
    }
        .craftBox{
            display: none;
            width: 30dvw;
            height: 69dvh;
            background-color: transparent;
            border: 2px solid white;
            overflow: hidden;
        }
        .craftTitles{     
            text-align: center;
            font-size: 5dvh;
            line-height: 8dvh;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        .craftWraps{
            width: 28dvw;
            height: 5dvh;
            margin: 0.5dvw;
            background-color: black;
            border: 2px solid white;
            position: relative;
        }
        .craftLabels{
            text-align: center;
            z-index: 2;
            font-size: 3dvh;
            min-width: 12dvw;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        .unlockText{
            text-align: center;
            font-size: 3dvh;
            min-width: 12dvw;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
            clear: left;
        }
        .craftOneOff{
            display: none;
            width: 12dvw;
            height: 8dvh;
            margin: 0.5dvw;
            background-color: black;
            border: 2px solid white;
            position: relative;
        }
        .craftPulse{
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            transform: scale(1);
            animation: pulse 1s;
        }
        .craftLocks{
            display: none;
            width: 12dvw;
            height: 8dvh;
            margin: 0.5dvw;
            background-color: black;
            border: 2px solid white;
            position: relative;
        }
            #sacrificeWrap{
                    display: none;
                    float: left;
                    width: 24dvw;
                    line-height: 5dvh;
                    font-size: 2.8dvh;
                    font-weight: bold;
                    font-family: "Papyrus", "Arial", sans-serif;
                    margin-right: 0;
                    margin-bottom: 0;
            }
            #sacToggle {
                display: none;
                float: left;
                border: 0.2dvw solid white;
                border-radius: 5px;
                font-size: 7dvh;
                line-height: 4dvh;
                width: 4dvw;
                min-height: 5dvh;  
                cursor: pointer;
                margin-left: 0;
                margin-top: 0.5dvw;
            }
            #sacrificeTypes{
                margin-left: 4dvw;
                display: none;
            }
            .sacrificeType{
                    background-color: grey;
                    border-radius: 0;
                    float: left;
                    height: 4.4dvh;
                    width: 20dvw;
                    border: 1px solid white;
                    font-size: 2.25dvh;
                    font-weight: bold;
                    font-family: "Papyrus", "Arial", sans-serif;
            }
            #boxWrap {
  position: relative;
}
#box{
    z-index: 2;
}
            #box-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: red;
  z-index: 0; /* So that text is on top */
  transition: width 0.1s linear;
  border-radius: 0.5dvw;
}
            
    #titheToggle {
        min-width: 2.5dvh;
        min-height: 2.5dvh;
        background-color: red; /* Default color for "off" */
        border-radius: 50%; /* Makes it round */
        position: absolute;
        right: 1dvw; 
        top: 1dvh;
    }
    #pagesTitle{
        margin-left: 2dvw;
        margin-right: 1dvw;
        min-width: 10dvw;
    }

                                                                               /*------Expeditions-----*/
#expeditions{
    display: none;
}
    #world{
        margin-left: 1dvw;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        align-content: flex-start; 
        float: left;
        width: 47dvw;
        height: 69dvh;
        background-color: transparent;
        overflow-y: auto;
    }
        #theWorld{
            text-decoration: underline;
            width: 46dvw;
            line-height: 10dvh;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        .worldWraps{
            display: none;
            margin: 1dvw;
            width: 20dvw;
            height:10dvh;
            text-align: center;
            font-size: 3dvh;
            line-height: 3dvh;
            position: relative;
            border: 0.1dvw solid white;
            background-color: black;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
        }
    #dreamEx{
        margin-right: 1dvw;
        display: none;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        align-items: center;
        float: right;
        width: 47dvw;
        height: 69dvh;
        background-color: transparent;
        overflow-y: auto;
    }
        #theDreaming{
            text-decoration: underline;
            line-height: 10dvh;
            font-weight: bold;
            font-family: "Papyrus", "Arial", sans-serif;
        }
            .dreamExWraps{
                display: none;
                width: 30dvw;
                height: 7dvh;
                margin: 1dvw;
                padding: 0.5dvw;
                font-size: 2dvw;
                background-color: black;
                border: 2px solid white;
                position: relative;
            }
                                                                               /*------Sacrarium-----*/
#sacrarium{
        display: none;
    }
    #gods{
        margin-left: 1dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
        width: 46dvw;
        height: 69dvh;
        background-color: transparent;
        overflow-y: auto;
    }
        #godTitle{
            line-height: 7dvh;
            font-weight: bold;
            text-decoration: underline;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        .godsWraps{
            border: 0.2dvw solid white;
            display: none;
            width: 20dvw;
            margin: 1dvw;
            position: relative;
        }
        .godTitles{
            font-family: "Papyrus", "Arial", sans-serif;
            font-size: 3dvh;
            line-height: 5dvh;
        }

    #relics{
        margin-right: 1dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        width: 46dvw;
        height: 69dvh;
        background-color: transparent;
        overflow-y: auto;
    }
        #relicTitle{
            line-height: 7dvh;
            font-weight: bold;
            text-decoration: underline;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        .relicWraps{
            display: none;
            border: 0.5dvw solid transparent; /* Set the border style and width */
            border-image-source: url(images/border2.png); /* Specify the image source */
            border-image-slice: 33%; /* Adjust this value as needed to control how the image is sliced */
            border-image-width: 100%;
            color: black;
            font-family: "Papyrus", "Arial", sans-serif;
            font-size: 2dvw;
            line-height: 6dvh;
            font-weight: bold;
            text-align: center;
            width: 20dvw;
            margin: 1dvw;
            position: relative;
        }
.descriptionBox {
    display: none;  
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 10%;
    background-color: #FAF9F6;
    color: black;
    padding: 0.1dvw;
    width: 90%;
    font-size: 1.25dvw;
    line-height: 3dvh;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0;
    z-index: 50;
    white-space: normal;
}
    .madDescription {
        width: 10dvw;
        left: 0;
    }
.lockDesc{
    width: 10dvw;
}
    .descriptionBox.show {
        display: block;
        z-index: 31;
    }
    .desc{
        min-width: 10dvw;
        clear: left;
    }
    
    @keyframes flash {
    0% { background-color: black; }
    50% { background-color: white; }
    100% { background-color: black; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

    #eventBox{
        position: absolute;
        left: 33dvw;
        top: 27dvh;
        z-index: 50;
        width: 33dvw;
        height: 69dvh;
        background-color: black;
        border: 0.3dvw solid white;
        border-radius: 15%;
        color: #ebebeb;
        display: block; 
    }
    #eventImage{
        display: block;
        border: 0.2dvw solid black;
        width: auto;
        height: 25dvh;
        margin: auto;
        margin-top: 2dvh;
    }
    #eventTitle{
        font-size: 4dvh;
        line-height: 5dvh;
        text-align: center;
        min-width: 33dvw;
        clear: left;
    }
    #eventBoxText{
        text-indent: 20px;
        margin: 2dvw;
        font-size: 1.25dvw;
        line-height: 1.5dvw;
        width: 28dvw;
        clear: left;
        color: #ebebeb;
    }
    #closeEventButton{
          position: absolute;
          top: 0.8dvh; 
          right: 1.5dvw; 
          background-color: transparent;
          border: none;
          color: red;
          font-size: 3dvw;
          line-height: 2.5dvw;
          padding: 1dvw;
          font-weight: bold;
          cursor: pointer;
    }
    @keyframes yess {
  0% {
    border-color: #FFF44F; 
    background-color: #0F52BA;
    color: #FFF; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  25% {
    border-color: #FF6EC7; 
    background-color: #4B0082;
    color: #FFD700; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
  }
  50% {
    border-color: #00FFFF; 
    background-color: #32CD32; 
    color: #000; 
    font-family: 'Courier New', Courier, monospace; 
  }
  75% {
    border-color: #DA70D6; 
    background-color: #8A2BE2; 
    color: #FF4500; 
    font-family: 'Lucida Console', Monaco, monospace; 
  }
  100% {
    border-color: #FFD700; 
    background-color: #000; 
    color: #FFF; 
    font-family: Arial, Helvetica, sans-serif; 
  }
}

.groovy-border {
}
    #yes{
        margin-left: 3dvw;
        float: left;
        clear: left;
        font-size: 8dvh;
        min-width: 15dvw;
        min-height: 10dvh;
        border: 0.5dvw groove white;
        font-weight: bold;
        animation: yess 2s infinite; /* Adjust animation duration as needed */
    }
    
    #no{
        float: right;
        margin-top: 5dvh;
        margin-right: 3dvw;
        font-size: 2dvh;
        min-width: 5dvw;
        min-height: 3dvh;
        border: 0.1dvw solid darkslategrey;
        
    }
    
#footer{
    position: fixed;
    bottom: 5dvh;
    left: 5dvw;
    width: 100%;
    text-align: left;
}
   
#test{
    clear: both;
    float: right;
    width: 4dvw;
    padding: 0.25dvw;
    border: 1px groove blue;
}
#save{
    clear: both;
    float: right;
    width: 4dvw;
    padding: 0.25dvw;
    border: 1px groove blue;
}
#load{
    clear: both;
    float: right;
    width: 4dvw;
    padding: 0.25dvw;
    border: 1px groove blue;
}

#time{
    float: right;
    clear: both;
    width: 4dvw;
    padding: 0.25dvw;
    border: 1px groove blue;
        }
        
.disable-events {
  pointer-events: none;
}



/* AltarRoom */
#altarRoom{
  background-image: url('images/rooms/grove.jpg');
  background-size: 100% 100%;
  height: 69dvh; 
  width: 97dvw;
}
#altarRoomTitle{
    line-height: 5dvh;
    width: 40dvw;
    
}
#altarRoomFlex {
  height: 60dvh; 
  width: 97dvw;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#activeAltarGrid {
   background-color: black;
   border: 0.5dvh groove black;
   background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 10dvh); /* Adjust number of columns */
  grid-template-rows: repeat(4, 10dvh); /* Adjust number of rows */
  width:40dvh;
}

.hole {
  border:  0.1dvh groove grey;
  width: 9.5dvh;
  height: 9.5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pegInHole{
    width: 7dvh;
  height: 7dvh;
}

.peg {
  background-color: black;
  height: 9.5dvh;    
  width: 9.5dvh; 
   display: flex;  
  justify-content: center;
  align-items: center;
}

/* Style for the peg pool */
#pegPool{
    
}
.pegPoolPeg {
  background-color: black;
  height: 10dvh;    
  width: 10dvh;
  border: 0.1dvh solid #ccc; 
  border-radius: 5px;  
  text-align: center;
}
        .peg-image {
            height: 7.5dvh;
            width: 7.5dvh;
        }

        /* Style for the peg label */
        .peg-label {
          width: 70%;
          float: left;
          clear: left;
          margin-left: 0.1dvw;
        }

        /* Style for the peg count */
        .peg-count {
            float: right;
        width: 19%;
            margin-right: 0.1dvw;
        }

        #adjacencyInfoBox {
    border: 1px solid black;
    padding: 10px;
    margin-left: 20px;
}

#divinity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#divinityTitle {
    text-align: center;
    width: 90dvw;
    font-size: 8dvh;
    line-height: 10dvh;
    margin: 3dvh;
}

.instructions-box {
    width: 30dvw;
    height: 58dvh;
    padding: 3dvh;
    text-align: left;
    float: left;
}

.buttons-box {
    width: 66dvw;
    height: 58dvh;
    padding: 3dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.shardBuy {
    padding: 2dvh 4dvw;
    font-size: 3dvh;
    cursor: pointer;
    border: none;
    border-radius: 1dvh;
}

.shardBuy:hover {
}